div {
  
    margin-top: 40vw;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

ul li {
   
    border: 1px solid rgb(149, 189, 235);
    background: rgb(248, 248, 248);
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;  
  margin: 5px;  
  
    
}

ul li:last-child {
    background-color: rgb(149, 189, 235);
  }

.btn {
    margin: 5px;
    background-color: rgb(149, 189, 235);
    color: rgb(255, 255, 255);
}